!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{ lang: :en }
	%head
		= render 'swell_media/application/html_head', args: {}
	
	%body
		= render 'swell_media/application/fb_js_sdk'
		%header#header
			= render 'swell_media/application/navbar'

		%section#main{ style: 'margin-top:4em;' }
			= render 'swell_media/application/flash'
			= yield
		%br
		%br
		%br
		%br

		= javascript_include_tag "js/jquery-1.8.3.min.js", "data-turbolinks-track" => true
		= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js", "data-turbolinks-track" => true
		= javascript_include_tag "js/prettify.js", "data-turbolinks-track" => true
		= javascript_include_tag "js/lightbox.js", "data-turbolinks-track" => true
		= javascript_include_tag "js/main.js", "data-turbolinks-track" => true

		%footer#footer
			= render 'swell_media/application/footer'
