!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{ lang: :en }
	%head
		= render 'swell_media/application/html_head', args: {}
	%body
		= render 'swell_media/application/analytics'
		= render 'swell_media/application/navbar'

		.wrapper
			= render 'swell_media/application/breadcrumbs'
			= render 'swell_media/application/flash'
			.container
				.row
					.col-sm-9
						= yield
					.col-sm-3
						.well
							Search
						.well
							Categories

		= render 'swell_media/application/footer'




