

.container
	.row
		.col-sm-6
			.panel.panel-default
				.panel-heading
					.pull-left
						%h3.panel-title
							= link_to 'Blog', swell_media.admin_articles_path
					.pull-right
						.btn.btn-sm.btn-success{ data: { toggle: :modal, target: '#new_article' } }
							%i.fa.fa-plus-square
							New
					.clearfix
				.panel-body
					%table.table
						- @articles.each do |article|
							%tr
								%td
									%a{ href: swell_media.edit_article_path( article ) }
										= article.slug
								%td{ style: 'width:20px;'}
									%a{ href: swell_media.edit_article_path( article ) }
										%i.fa.fa-pencil
								%td{ style: 'width:20px;'}
									%a{ href: swell_media.preview_article_path( article ) }
										%i.fa.fa-eye
				.panel-footer


		.col-sm-6
			.panel.panel-default
				.panel-heading
					.pull-left
						%h3.panel-title
							= link_to 'Pages', swell_media.admin_pages_path
					.pull-right
						.btn.btn-sm.btn-success{ data: { toggle: :modal, target: '#new_page' } }
							%i.fa.fa-plus-square
							New
					.clearfix
				.panel-body
					%table.table
						- @pages.each do |page|
							%tr
								%td
									%a{ href: swell_media.edit_page_path( page ) }
										= page.slug
								%td{ style: 'width:20px;'}
									%a{ href: swell_media.edit_page_path( page ) }
										%i.fa.fa-pencil
								%td{ style: 'width:20px;'}
									%a{ href: swell_media.preview_page_path( page ) }
										%i.fa.fa-eye

				.panel-footer

		.col-sm-6
			.panel.panel-default
				.panel-heading
					.pull-left
						%h3.panel-title
							= link_to 'Contacts', swell_media.admin_contacts_path
					.clearfix
				.panel-body
					%table.table
						- @contacts.each do |contact|
							%tr
								%td
									= contact.contact_type || 'contact'
								%td
									%a{ href: swell_media.edit_contact_path( contact ) }
										= contact.email
								%td{ style: 'width:20px;'}
									%a{ href: swell_media.edit_contact_path( contact ) }
										%i.fa.fa-pencil

				.panel-footer



= render 'swell_media/articles/new_modal'
= render 'swell_media/pages/new_modal'