

.container
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					= link_to 'Blog Admin', admin_articles_path
				%li
					%strong
						Edit
						= @article.title
		.col-xs-2
			%a.btn.btn-primary{ href: preview_article_path( @article.id ), target: '_new' }
				%i.fa.fa-eye
				Preview
	
	= form_for @article do |f|
	
		.row
			.col-xs-8
				.form-group
					= f.text_field :title, class: 'form-control'

				.form-group
					.input-group
						= f.label :path, 'URL for this article:'
						%span.input-group-addon
							http://playswell.com/
						= f.text_field :path, class: 'form-control', placeholder: @article.slug

				.form-group
					.input-group
					= f.label :avatar, 'Thumbnail:'
					.row
						.col-sm-2
							= image_tag @article.avatar, class: 'img-responsive'
						.col-sm-10
							= f.text_field :avatar, class: 'form-control', placeholder: 'Full Path to Image'


				.form-group
					= f.label :description, 'Summary'
					= f.text_area :description, class: 'form-control', rows: 4

				.form-group
					= f.text_area :content, class: 'form-control', rows: 12


			.col-xs-4
				.boxFocus
					.form-group
						= f.label :user_id, 'Author'
						= f.collection_select :user_id, User.godmins, :id, :name, {}, class: 'form-control'
					.form-group
						= f.label :publish_at
						= f.text_field :publish_at, class: 'form-control datepicker'
					.form-group
						= f.label :status
						= f.select :status, [[ 'draft', 'draft' ], [ 'active', 'active' ], [ 'disabled', 'disabled' ] ], {}, class: 'form-control'
					.form-group
						= f.label :tag_list, 'Tags:'
						= f.text_field :tag_list, placeholder: 'Separate tags with commas', class: 'form-control'
					.form-group
						= f.check_box :is_commentable, {}, 'true', 'false'
						Allow Comments?
					.form-group
						= f.submit 'Update', class: 'btn btn-primary'