

%footer
	.container
		.row
			/ Contact Us
			.col-sm-6
				%h4
					%i.fa.fa-map-marker.text-red
					Contact
				
				%p
					Juggle Bugs Made With Love in:
					%br
					San Diego, CA
				%p 
					Do not hesitate to 
					%a{ href: '/contacts/new' }
						contact us 
					with any questions or suggestions!
			
			.col-sm-6
				%h4
					%i.fa.fa-envelope.text-red
					Newsletter
				%p
					Enter your e-mail below to subscribe to our free newsletter and get updates on Juggle Bugs. We promise not to bother you often!
				= form_tag '/optins', method: :post do
					.col-sm-10
						.input-group
							%label.sr-only{ for: "email" } 
								Email address
							= text_field_tag :email, '', placeholder: 'Enter Your Email', id: 'subscribe-email', class: 'form-control'
							%span.input-group-btn= submit_tag 'Ok', class: 'btn btn-red'
				
					
/ Copyright
.container
	.row
		.col-sm-12
			.copyright
				©
				= Time.now.year
				= ENV['APP_NAME']
				| All Rights Reserved

