

.container
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					%strong
						Page Admin
		.col-xs-2
			%a.btn.btn-success{ data: { toggle: :modal, target: '#new_page' } }
				%i.fa.fa-plus-square
				New
	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th URL
					%th Publish At
					%th Status
					%th
				%tbody
					- @pages.each do |page|
						%tr
							%td
								= link_to page.title, edit_page_path( page.id )
							%td
								= page.slug
							%td
								= page.publish_at.to_s( :slashed_time )
							%td
								.badge{ class: page.status }
									= page.status
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_page_path( page.id ) }
												%i.fa.fa-pencil
												Edit
										%li
											%a{ href: preview_page_path( page.id ) }
												%i.fa.fa-eye
												Preview
										%li.divider
										%li
											%a{ href: page_path( page ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!




= render 'new_modal'